node_modules
dist
build
*.local
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test
coverage
.nyc_output

# Misc
*.tsbuildinfo